---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import { Image } from 'astro:assets';
import JoinTemboCTA from '../../components/JoinTemboCTA.astro';
import SchoolAILogo from 'src/images/schoolai-logo.svg';
import ArchLogo from 'src/images/arch-logo.svg';

const currentPath = Astro.url.pathname;
---

<Layout title='Customers | Tembo'>
	<div
		class='main-content relative overflow-hidden border-b border-b-white/10'
	>
		<NavBar
			client:load
			currentPage={currentPath}
		/>
		<div class='w-full h-[150px] overflow-hidden'></div>

		<Container>
			<section class='md:mt-[100px]'>
				<div
					class='flex flex-col items-center justify-center gap-4 md:gap-6 mb-16'
				>
					<h3
						class='text-neon font-secondary text-sm uppercase tracking-wider z-10'
					>
						Customer Stories
					</h3>
					<h1
						class='text-[28px] sm:text-[48px] md:text-[56px] lg:text-[64px] text-center leading-tight font-semibold z-10'
					>
						Tembo Customer Stories
					</h1>
				</div>

				<div class='space-y-8 mb-20'>
					<div class='grid grid-cols-1 lg:grid-cols-2 gap-6 md:gap-8'>
						<a
							href='/customers/arch'
							class='group bg-mwasi hover:bg-zinc-900 transition-colors duration-200 p-6 rounded-2xl'
						>
							<div class='overflow-hidden rounded-xl'>
								<Image
									src={ArchLogo}
									alt='arch company logo'
									class='w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-200'
								/>
							</div>
						</a>
						<a
							href='/customers/schoolai'
							class='group bg-mwasi hover:bg-zinc-900 transition-colors duration-200 p-6 rounded-2xl'
						>
							<div class='overflow-hidden rounded-xl'>
								<Image
									src={SchoolAILogo}
									alt='schoolai company logo'
									class='w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-200'
								/>
							</div>
						</a>
					</div>
				</div>

				<JoinTemboCTA />
			</section>
		</Container>
	</div>

	<div class='relative bg-offBlack'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>

<style>
	.main-content {
		background: rgb(0, 0, 0);
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
	}

	.light-gradient {
		width: 45%;
		height: 1200px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
		transform: translate3d(0, 0, 0);
	}

	@-moz-document url-prefix() {
		.light-gradient {
			width: 45%;
			height: 1200px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
		}
	}
</style>
