---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar';
import Container from '../../components/Container';
import Tag from '../../components/Tag.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from 'astro:content';

const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);

const currentPath = Astro.url.pathname;
---

<Layout title='Blog | Tembo'>
    <NavBar client:load currentPage={currentPath} />
    <Container styles='pb-4'>
        <div class='mt-[120px] mobile:mt-[180px]'>
            <header>
                <h1 class='text-neon font-extrabold text-6xl z-10 mb-6'>Tembo's Blog</h1>
            </header>
            <div class='mt-16'>
                <div class='flex items-center justify-between'>
                    <div class='flex items-center gap-2'>
                        <Tag title='All' />
                        <Tag title='Postgres' />
                        <Tag title='Engineering' />
                        <Tag title='Developers' />
                        <Tag title='Company' />
                        <Tag title='Extensions' />
                    </div>
                </div>
                <div class='mt-10 pb-10'>
                    <div class='flex flex-wrap w-full gap-6'>
                        <!-- {posts.map((post) => (
                            <BlogPost title={post.data.title} slug={post.slug} readingTime='5 min Read' date={post.data.date.toLocaleDateString('en-US', dateOptions as any)} />
                        ))} -->
                        <BlogPost title='Unlocking value from your Clerk User Management platform with Postgres' slug="test" readingTime='5 min Read' date='Mar 16, 2024' />
                        <BlogPost title='Unlocking value from your Clerk User Management platform with Postgres' slug="test" readingTime='5 min Read' date='Mar 16, 2024' />
                        <BlogPost title='Unlocking value from your Clerk User Management platform with Postgres' slug="test" readingTime='5 min Read' date='Mar 16, 2024' />
                    </div>
                </div>
            </div>
        </div>
    </Container>
</Layout>
