---
import Markdown from '../../components/Markdown.astro';
import DocsLayout from '../../layouts/DocsLayout.astro';
import { getCollection } from 'astro:content';
import Toc from '../../components/Toc';
import {
	getSideBarLinks,
	getNestedSideBarLinks,
	isNested,
} from '../../util/docsUtils';
import Footer from '../../components/docs/Footer.astro';
import NextButton from '../../components/NextButton.astro';

export async function getStaticPaths() {
	const docs = await getCollection('docs');

	return docs.map((doc) => {
		return {
			params: {
				slug: doc.slug,
			},
			props: {
				doc,
			},
		};
	});
}

const { doc } = Astro.props;
const { Content, headings } = await doc.render();
const slug = doc.slug;
const isDocNested = isNested(slug);
const links = isDocNested
	? await getNestedSideBarLinks(slug)
	: await getSideBarLinks();
---

<DocsLayout isNestedDoc={isDocNested} sideBarMenuSections={links}>
	<div class='flex flex-col relative'>
		<div
			id='tembo-document'
			class='flex justify-between w-full mobile:gap-16 xl:gap-28 mb-12'
		>
			<div class='flex flex-col gap-12 w-full'>
				<Markdown classNames='max-w-none'>
					<Content />
				</Markdown>
				<NextButton
					title='VectorDB Stack'
					subTitle='Next'
					slug=''
					classNames='max-w-[450px] w-full self-end'
				/>
			</div>
			<div>
				<div
					class='hidden mobile:flex flex-col items-start w-max mobile:sticky mobile:top-[133px]'
				>
					{
						headings.length > 0 && (
							<Toc
								headings={headings.filter(
									(heading) => heading.depth !== 1,
								)}
								titleStyles='bg-gradient-to-r from-salmon via-purple to-lightPurple text-transparent bg-clip-text text-sm'
								title='ON THIS PAGE'
								isDocs
								offset={60}
								client:load
							/>
						)
					}
				</div>
			</div>
		</div>
		<Footer editLink='' />
	</div>
</DocsLayout>
