---
import Markdown from '../../components/Markdown.astro';
import DocsLayout from '../../layouts/DocsLayout.astro';
import { getCollection } from 'astro:content';
import Toc from '../../components/Toc';

export async function getStaticPaths() {
	const docs = await getCollection('docs');
	//console.log(docs);

	return docs.map((doc) => {
		return {
			params: {
				slug: doc.slug,
			},
			props: {
				doc,
			},
		};
	});
}

const { doc } = Astro.props;
const { Content, headings } = await doc.render();
---

<DocsLayout sideBarMenuSections={[]}>
	<div class='flex flex-col relative'>
		<div class='flex justify-between w-full gap-16 xl:gap-28'>
			<Markdown classNames='max-w-none'>
				<Content />
			</Markdown>
			<div>
				<div
					class='flex flex-col items-start w-max mobile:sticky mobile:top-[133px]'
				>
					{
						headings.length > 0 && (
							<Toc
								headings={headings}
								titleStyles='bg-gradient-to-r from-salmon via-purple to-lightPurple text-transparent bg-clip-text text-sm'
								title='ON THIS PAGE'
								isDocs
								client:load
							/>
						)
					}
				</div>
			</div>
		</div>
	</div>
</DocsLayout>
