---
import DocsLayout from '../../layouts/DocsLayout.astro';
import { Image } from 'astro:assets';
import HeroImage from '../../images/tembonauts.svg';
import { getSideBarLinks } from '../../util/docsUtils';
import DocCard from '../../components/docs/DocCard.astro';

const links = await getSideBarLinks();
---

<DocsLayout
	isNestedDoc={false}
	sideBarMenuSections={links}
	isProgressBar={false}
>
	<div class='flex flex-col'>
		<div class='flex flex-col xl:flex-row justify-between gap-8'>
			<div class='flex flex-col gap-6'>
				<h1
					class='text-neon font-extrabold text-3xl lg:text-4xl xl:text-5xl z-10'
				>
					Tembo Docs
				</h1>
				<p class='max-w-xl text-lightGrey'>
					Tembo is the Postgres developer platform for building every
					data service. We collapse the database sprawl and empower
					users with a high-performance, fully-extensible managed
					Postgres service.
				</p>
			</div>
			<Image
				src={HeroImage}
				alt='tembo elephants on the moon'
				class='flex rounded-2xl w-full max-w-[600px]'
			/>
		</div>
		<ul class='w-full mt-16 grid grid-cols-12 gap-6'>
			<DocCard
				url=''
				icon='/icons/cloud.svg'
				title='Tembo Cloud'
				description='Lorem ipsum dolor sit amet consectetur. Arcu mauris dui ipsum massa.'
			/>
			<DocCard
				url=''
				icon='/icons/stacks.svg'
				title='Stacks'
				description='Lorem ipsum dolor sit amet consectetur. Arcu mauris dui ipsum massa.'
			/>
			<DocCard
				url=''
				icon='/icons/book.svg'
				title='Postgres Guides'
				description='Lorem ipsum dolor sit amet consectetur. Arcu mauris dui ipsum massa.'
			/>
			<DocCard
				url=''
				icon='/icons/code.svg'
				title='Connection Examples'
				description='Lorem ipsum dolor sit amet consectetur. Arcu mauris dui ipsum massa.'
			/>
		</ul>
	</div>
</DocsLayout>
