---
import DocsLayout from '../../layouts/DocsLayout.astro';
import { Image } from 'astro:assets';
import HeroImage from '../../images/tembonauts.svg';
import { getCollection } from 'astro:content';
import type { SideBarSection } from '../../types';
import { uppercaseFirstLetter } from '../../util';

// TODO: support passing in some pre-defined sidebar config to override the default behavior for this
const getSideBarLinks = async (slug: string) => {
	const docs = await getCollection('docs');

	const sideBarLinks: SideBarSection[] = docs.map((doc) => {
		const { slug } = doc;
		const sectionTitle = uppercaseFirstLetter(doc.id.split('/')[0]);
		return { label: '', items: [] };
	});
};
---

<DocsLayout sideBarMenuSections={[]}>
	<div class='flex flex-col'>
		<div class='flex flex-col xl:flex-row justify-between gap-8'>
			<div class='flex flex-col gap-6'>
				<h1
					class='text-neon font-extrabold text-3xl lg:text-4xl xl:text-5xl z-10'
				>
					Tembo Docs
				</h1>
				<p class='max-w-xl text-lightGrey'>
					Tembo is the Postgres developer platform for building every
					data service. We collapse the database sprawl and empower
					users with a high-performance, fully-extensible managed
					Postgres service. With Tembo, developers can quickly create
					specialized data services using Stacks, pre-built Postgres
					configurations, and deploy without complex builds or
					additional data teams.
				</p>
			</div>
			<Image
				src={HeroImage}
				alt='tembo elephants on the moon'
				class='flex rounded-2xl w-full max-w-[600px]'
			/>
		</div>
	</div>
</DocsLayout>
