---
interface Props {
	title: string;
	link: string;
}
const { title, link } = Astro.props;
import ArrowImage from '../images/whiteArrow.svg';
import { Image } from 'astro:assets';
---

<a
	href={link}
	target='_blank'
	rel='noreferrer'
	class='transition-all duration-150 ease-in'
>
	<div
		class='flex items-center gap-6 border-2 border-lightPink rounded-full p-2 h-[60px]'
	>
		<div
			class='bg-gradient-button p-3 rounded-full flex justify-center items-center'
		>
			<Image src={ArrowImage} alt='Arrow' class='h-[15px] w-[15px]' />
		</div>
		<p class='text-white font-semibold text-xl pr-6'>{title}</p>
	</div>
</a>
