---
interface Props {
    name: string;
    title: string;
    profilePicture: string;
}

const { name, title, profilePicture } = Astro.props;
---

<div class='flex items-center gap-4'>
    <img src={profilePicture} class='rounded-full w-12 h-12' alt={name} />
    <div>
        <h1 class='text-sm font-bold text-white'>{name}</h1>
        <p class='text-lightGrey text-sm'>{title}</p>
    </div>
</div>
