---
interface Props {
    title: string;
    slug: string;
    heroImage?: string;
}
const { title, heroImage, slug } = Astro.props;
---

<a class='flex flex-col items-start bg-mwasi rounded-xl p-4 w-[350px] gap-6' href={`/blog/${slug}`}>
    <img src={heroImage || '/blogFallbackImage.svg'} alt={`${title} thumbnail`} class='rounded-xl w-full' />
    <h2>{title}</h2>
</a>
