---
interface Props {
	extensionTitle: string;
	wrapperStyles?: string;
	titleStyles?: string;
	href?: string;
}
import cx from 'classnames';
const { extensionTitle, titleStyles, wrapperStyles, href } = Astro.props;
---

<a
	href={href}
	target='_blank'
	rel='noreferrer'
	class='transition-all duration-150 ease-linear hover:scale-[102%]'
>
	<div
		class={cx(
			'flex flex-col items-center justify-between rounded-[14px] customXs:rounded-[20px] w-[161px] h-[143.5px] customXs:w-[230px] customXs:h-[205px] p-[10px] customXs:p-3.5',
			!wrapperStyles ? 'bg-neon' : '',
			wrapperStyles,
		)}
	>
		<h2
			class={cx(
				'text-center text-[14px] customXs:text-xl font-bold mb-2',
				!titleStyles ? 'text-blue' : '',
				titleStyles,
			)}
		>
			{extensionTitle}
		</h2>
		<slot />
	</div>
</a>
