---
interface Props {
    extensionTitle: string;
    titleStyles?: string;
}
import cx from 'classnames';
const { extensionTitle, titleStyles } = Astro.props;
---

<div class='flex flex-col items-center justify-between rounded-[20px] bg-neon w-[230px] h-[230px] p-3.5'>
    <h1 class={cx('text-blue text-center text-xl font-bold mb-2', titleStyles)}>{extensionTitle}</h1>
    <div class='bg-black rounded-[20px] w-full h-full' />
</div>
