---
import Logo from "./Logo";
import Container from "../layouts/Container.astro";
---

<footer class='bg-offBlack py-24 mt-24'>
	<div class='flex gap-56'>
		<Logo />
		<div class='flex gap-20'>
			<div class='flex flex-col gap-6'>
				<h6 class='text-white font-semibold text-xl'>Company</h6>
				<div class='flex flex-col gap-2 font-medium text-grey font-secondary'>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Docs</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Blog</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Pricing</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Product</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Cloud</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Trunk</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Roadmap</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Changelog</a
					>
				</div>
			</div>
			<div class='flex flex-col gap-6'>
				<h6 class='text-white font-semibold text-xl'>Connect</h6>
				<div class='flex flex-col gap-2 font-medium text-grey font-secondary'>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Github</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Twitter</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>LinkedIn</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Youtube</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Tembo Slack</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Trunk Slack</a
					>
				</div>
			</div>
			<div class='flex flex-col gap-6'>
				<h6 class='text-white font-semibold text-xl'>Resources</h6>
				<div class='flex flex-col gap-2 font-medium text-grey font-secondary'>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Status page</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Careers</a
					>
					<a
						href='https://www.youtube.com/@tembo_io'
						target='_blank'
						rel='noreferrer'
						>Support</a
					>
				</div>
			</div>
		</div>
		<div class='flex items-center gap-12'>

		</div>
	</div>
</footer>
