---
import Logo from "./Logo"
---

<footer class='flex bg-offBlack py-24 mt-24 gap-32'>
	<Logo />
	<div class='flex gap-12'>
		<div class='flex flex-col gap-6'>
			<h6 class='text-white font-semibold text-xl'>Company</h6>
			<div class='flex flex-col gap-2 font-medium text-grey'>
				<a
					href='https://www.youtube.com/@tembo_io'
					target='_blank'
					rel='noreferrer'
					>Youtube</a
				>
			</div>
		</div>
		<div class='flex flex-col gap-6'>
			<h6 class='text-white font-semibold text-xl'>Connect</h6>
			<div class='flex flex-col gap-2 font-medium text-grey'>

			</div>
		</div>
		<div class='flex flex-col gap-6'>
			<h6 class='text-white font-semibold text-xl'>Resources</h6>
			<div class='flex flex-col gap-2 font-medium text-grey'>

			</div>
		</div>
	</div>

</footer>
