<div class='flex flex-col'>
	<div class='flex flex-wrap items-center justify-between py-12'>
		<a
			href='https://www.youtube.com/@tembo_io'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white'>Youtube</a
		>
		<div class='bg-[#6C6C6C] h-[4px] w-[4px] rounded-full z-10'></div>
		<a
			href='https://pgt.dev'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white'>Trunk</a
		>
		<div class='bg-[#6C6C6C] h-[4px] w-[4px] rounded-full z-10'></div>
		<a
			href='/docs'
			target='_blank'
			class='font-primary font-medium z-10 text-white'>Docs</a
		>
		<div
			class='bg-[#6C6C6C] h-[4px] w-[4px] rounded-full z-10 hidden customXs:block'
		>
		</div>
		<a
			href='https://twitter.com/tembo_io'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white hidden customXs:block'
			>Twitter</a
		>
		<div
			class='bg-[#6C6C6C] h-[4px] w-[4px] rounded-full z-10 hidden customXs:block'
		>
		</div>
		<a
			href='https://www.linkedin.com/company/tembo-inc'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white hidden customXs:block'
			>LinkedIn</a
		>
	</div>
	<div class='flex items-center justify-evenly pb-[60px] customXs:hidden'>
		<a
			href='https://twitter.com/tembo_io'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white'>Twitter</a
		>
		<div class='bg-[#6C6C6C] h-[4px] w-[4px] rounded-full z-10'></div>
		<a
			href='https://www.linkedin.com/company/tembo-inc'
			target='_blank'
			rel='noreferrer'
			class='font-primary font-medium z-10 text-white'>LinkedIn</a
		>
	</div>
</div>
