---
interface Props {
    description: string;
    wrapperStyles?: string;
    title?: string;
    subTitle?: string;
    descriptionStyles?: string;
    titleStyles?: string;
    subTitleStyles?: string;
    starFill?: string;
}
import cx from 'classnames';
const { description, wrapperStyles, title, subTitle, descriptionStyles, titleStyles, subTitleStyles, starFill } = Astro.props;
---

<div class={cx('flex flex-col rounded-[20px] pt-[20px] px-[12px] pb-[12px]', !wrapperStyles ? 'bg-neon w-[170px] customXs:w-[220px]' : '', wrapperStyles)}>
    <div class='flex items-center gap-2 mb-4'>
        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.52964 1.39592C7.78148 0.384833 9.21852 0.384831 9.47035 1.39592L10.6478 6.12348C10.7373 6.48246 11.0175 6.76274 11.3765 6.85215L16.1041 8.02964C17.1152 8.28148 17.1152 9.71852 16.1041 9.97035L11.3765 11.1478C11.0175 11.2373 10.7373 11.5175 10.6478 11.8765L9.47036 16.6041C9.21852 17.6152 7.78148 17.6152 7.52965 16.6041L6.35215 11.8765C6.26274 11.5175 5.98246 11.2373 5.62348 11.1478L0.895919 9.97036C-0.115167 9.71852 -0.115169 8.28148 0.895917 8.02965L5.62348 6.85215C5.98246 6.76274 6.26274 6.48246 6.35215 6.12348L7.52964 1.39592Z" fill={starFill || "#5743C9"} />
        </svg>
        <p class={cx('text-center text-[7.8px] customXs:text-[10px] font-normal text-blue', descriptionStyles)}>{description}</p>
    </div>
    <div class='flex flex-col gap-2'>
        <slot />
        {title && <h2 class={cx('text-[17.16px] customXs:text-[22px] font-bold text-black', titleStyles)}>{title}</h2>}
        {subTitle &&  <p class={cx('text-[11px] customXs:text-sm font-semibold text-black mb-[25px]', subTitleStyles)}>{subTitle}</p>}
    </div>
</div>
