---
---
<div
  class="w-full prose prose-lg dark:prose-invert prose-p:text-lightGrey prose-li:text-lightGrey
  prose-headings:font-extrabold prose-h1:text-4xl prose-headings:text-white
  prose-a:bg-gradient-to-r prose-a:bg-[length:100%_1px] prose-a:bg-no-repeat prose-a:bg-bottom prose-a:from-salmon prose-a:via-purple prose-a:to-lightPurple prose-a:text-white prose-a:no-underline prose-p:text-justify prose-img:rounded-xl prose-p:font-secondary">
  <slot />
</div>
