---
import { styles } from '../util';
interface Props {
	classNames?: string;
}
const { classNames } = Astro.props;
---

<div
	class={styles(
		`tembo-blog-post-content max-[900px]:max-w-full prose prose-md dark:prose-invert prose-p:text-lightGrey prose-li:text-lightGrey
  prose-headings:font-extrabold prose-h1:text-4xl prose-headings:text-white
  prose-a:bg-gradient-to-r prose-a:bg-[length:100%_1px] prose-a:bg-no-repeat prose-a:bg-bottom prose-a:from-salmon prose-a:via-purple prose-a:to-lightPurple prose-a:text-white
  prose-a:no-underline prose-img:rounded-xl prose-p:font-secondary
  prose-code:before:content-none prose-code:after:content-none prose-inline-code:rounded-lg prose-inline-code:font-normal prose-inline-code:text-white prose-inline-code:border
  prose-inline-code:border-[#505050] prose-inline-code:bg-[#3D3D3D]
  prose-inline-code:px-[4px] prose-inline-code:py-[4px] prose-strong:text-white prose-td:text-white
  prose-li:font-secondary marker:text-[#505050] docs-markdown-details docs-markdown-summary`,
		classNames,
	)}
>
	<slot />
</div>

<style is:global>
	.docs-markdown-details {
		@apply [&>details]:mb-2;
	}
	.docs-markdown-summary {
		@apply [&>*>summary]:bg-mwasi [&>*>summary]:rounded-lg [&>*>summary]:border [&>*>summary]:border-semiGrey2 [&>*>summary]:px-4 [&>*>summary]:py-2 [&>*>summary]:hover:cursor-pointer;
	}
</style>
