---
import Card from "./Card";
import { Image } from 'astro:assets';
import GithubLogo from '../images/github.svg';
import Ranking from '../images/ranking.svg';
---

<div class='flex gap-2 customSm:gap-4'>
    <div class='flex flex-col gap-2 customSm:gap-4 w-full'>
        <Card styles='flex flex-col items-center gap-4 customSm:px-14 customSm:py-7 bg-offGrey w-full'>
            <Image src={GithubLogo} alt='Github' />
            <div class='flex flex-col items-center gap-2'>
                <h2 class='font-bold text-neon text-4xl customSm:text-5xl'>30k+</h2>
                <p class='text-white'>Github Stars</p>
            </div>
        </Card>
        <Card styles='flex flex-col items-center gap-4 customSm:px-14 customSm:py-7 bg-offGrey w-full'>
            <h2 class='font-bold text-white text-4xl customSm:text-5xl'>10PB</h2>
            <p class='text-white'>DATA SERVED</p>
        </Card>
    </div>
    <div class='flex flex-col gap-2 customSm:gap-4 w-full'>
        <Card styles='flex flex-col items-center gap-4 customSm:px-14 customSm:py-7 bg-offGrey w-full'>
            <h2 class='font-bold text-white text-4xl customSm:text-5xl'>99.99%</h2>
            <p class='text-white'>GUARANTEED UPTIME</p>
        </Card>
        <Card styles='flex flex-col items-center gap-4 customSm:px-14 customSm:py-7 bg-offGrey w-full'>
            <Image src={Ranking} alt='Ranking' />
            <div class='flex flex-col items-center gap-2'>
                <h2 class='font-bold text-neon text-4xl customSm:text-5xl'>23B+</h2>
                <p class='text-white'>Requests Per Week</p>
            </div>
        </Card>
    </div>
</div>
