---
import Card from './Card';
import { Image } from 'astro:assets';
import GithubLogo from '../images/github.svg';
import Ranking from '../images/ranking.svg';
---

<div class='flex gap-2 customSm:gap-4'>
	<div
		class='flex flex-col gap-2 customSm:gap-4 w-full h-full justify-between'
	>
		<Card
			styles='flex flex-col items-center gap-4 customSm:px-16 customSm:py-7 bg-offGrey w-full'
		>
			<Image src={GithubLogo} alt='Github' />
			<div class='flex flex-col items-center gap-2'>
				<h2
					class='bg-gradient-to-r from-salmon via-purple to-lightPurple inline-block text-transparent bg-clip-text font-bold text-4xl customSm:text-5xl'
				>
					35+
				</h2>
				<p class='text-white text-[12px] customXs:text-base'>
					Years Active Development
				</p>
			</div>
		</Card>
		<Card
			styles='flex flex-col items-center gap-4 customSm:px-16 customSm:py-7 bg-offGrey w-full'
		>
			<h2 class='font-bold text-white text-4xl customSm:text-5xl'>5M+</h2>
			<p
				class='text-white text-[12px] customXs:text-base whitespace-nowrap'
			>
				Instances Deployed
			</p>
		</Card>
	</div>
	<div class='flex flex-col gap-2 customSm:gap-4 w-full'>
		<Card
			styles='flex flex-col items-center gap-4 customSm:px-16 customSm:py-7 bg-offGrey w-full'
		>
			<h2 class='font-bold text-white text-4xl customSm:text-5xl'>
				1000+
			</h2>
			<p class='text-white text-[12px] customXs:text-base'>
				Community Extensions
			</p>
		</Card>
		<Card
			styles='flex flex-col items-center gap-4 customSm:px-16 customSm:py-7 bg-offGrey w-full'
		>
			<Image src={Ranking} alt='Ranking' />
			<div class='flex flex-col items-center gap-2'>
				<h2 class='font-bold text-white text-4xl customSm:text-5xl'>
					#1
				</h2>
				<p
					class='text-white text-[12px] customXs:text-base customXs:whitespace-nowrap'
				>
					Developer Choice Database
				</p>
			</div>
		</Card>
	</div>
</div>
