---
import { AlertTitle } from 'portt-ui';
import { styles } from '../util';
interface Props {
	title: string;
	classNames?: string;
}
const { title, classNames } = Astro.props;
const currentPath = Astro.url.pathname;
---

<a
	href={title === 'All' ? '/blog' : `/blog/tags/${title.toLowerCase()}`}
	class={styles(
		'flex items-center justify-center border border-otherGrey rounded-full px-4 py-3 h-[40px] text-otherGrey',
		classNames,
		currentPath.endsWith('/engineering') ||
			(title === 'All' &&
				(currentPath === '/blog' || currentPath === '/blog/'))
			? 'border-salmon text-lightSalmon font-semibold bg-salmon bg-opacity-10'
			: '',
	)}
>
	<span>{AlertTitle}</span>
</a>
