---
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<div class='flex items-center justify-center border border-otherGrey rounded-full px-4 py-3 h-[40px]'>
    <p class='text-otherGrey'>{title}</p>
</div>
