---
import { styles } from '../util';
interface Props {
	title: string;
	classNames?: string;
}
const { title, classNames } = Astro.props;
const currentPath = Astro.url.pathname;
const splitPath = currentPath.split('/');
---

<a
	href={title === 'All' ? '/blog' : `/blog/tags/${title.toLowerCase()}`}
	class={styles(
		'flex items-center justify-center border border-otherGrey rounded-full px-4 py-3 h-[40px] text-otherGrey',
		classNames,
		splitPath[splitPath.length - 1].replace('/', '') ===
			title.toLowerCase() ||
			(title === 'All' &&
				(currentPath === '/blog' || currentPath === '/blog/'))
			? 'border-salmon text-lightSalmon font-semibold bg-salmon bg-opacity-10'
			: '',
	)}
>
	{splitPath[splitPath.length - 1]}
	<span>{title}</span>
</a>
