.backdrop {
  background-image: url('@site/static/img/background.jpg'), linear-gradient(201.13deg, #FFCBC6 13.86%, #FD8D93 40.93%, #CE71A9 95.22%);
  background-repeat: repeat-x;
  background-size: 1600px;
  background-position: top center;
}

@media (min-width: 1600px) {
  .backdrop {
    background-size: 100%;
  }
}
