---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar';
import Container from '../../components/Container';
import Footer from '../../components/Footer.astro';
import { Image } from 'astro:assets';
import ContactElephant from '../../../public/contact-elephant.svg';
import ConfettiContact from '../../components/ConfettiContact.astro';
import ContactForm from '../../components/ContactForm.tsx';

const currentPath = Astro.url.pathname;
---

<Layout title='Contact | Tembo'>
	<div class='content'>
		<NavBar client:load currentPage={currentPath} isBanner={false} />
		<div class='w-full h-[150px] overflow-hidden'></div>
		<Container styles='relative mb-20'>
			<div
				class='light-gradient absolute -top-[700px] -right-[100px] overflow-hidden'
			>
			</div>
			<div class='grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-8'>
				<div class='flex items-center md:justify-center'>
					<Image
						src={ContactElephant}
						alt='contact elephant image'
						width={400}
						height={400}
						class='lg:block hidden'
					/>
					<Image
						src={ContactElephant}
						alt='contact elephant image'
						width={150}
						height={150}
						class='max-[1024px]:block hidden'
					/>
				</div>
				<ContactForm client:load />
				<ConfettiContact />
			</div>
		</Container>

		<div class='relative z-10 bg-offBlack'>
			<div
				class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
			>
			</div>
			<Container styles='z-50'>
				<Footer />
			</Container>
		</div>
	</div>
</Layout>

<style>
	.content {
		background: #000000;
		background-image: url('/pixelBg.svg');
		width: 100%;
		height: 100%;
	}

	.light-gradient {
		width: 45%;
		height: 1200px;
		background: radial-gradient(#ffffff 0px, transparent 35%);
		-ms-filter: blur(300px) saturate(150%);
		-webkit-filter: blur(300px) saturate(150%);
		filter: blur(300px) saturate(150%);
		transform: translate3d(0, 0, 0);
		z-index: 0;
	}

	@-moz-document url-prefix() {
		.light-gradient {
			width: 45%;
			height: 1200px;
			background: radial-gradient(#ffffff 0px, transparent 55%);
			-ms-filter: blur(300px) saturate(150%);
			-webkit-filter: blur(300px) saturate(150%);
			filter: blur(300px) saturate(150%);
			opacity: 0.1;
			z-index: 0;
		}
	}
</style>
