/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headline {
  @apply xl:text-9xl sm:text-8xl text-7xl font-display font-bold; 
}

.content {
  @apply dark:bg-black dark:text-white relative;
  background-color: var(--content-background-color);
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  @apply text-lg;
  @apply font-bold;
  @apply font-body;
  @apply text-black;
}

.headerDivider {
  @apply text-lg;
  @apply font-display;
  @apply px-10;
  color: rgba(0, 0, 0, 0.3);
}

.screenshot {
  width: 80vw;
  height: auto;
  max-width: 1440px;
  box-shadow: 0px 24px 44px 0px rgba(247, 142, 146, 0.25);
}

.screenshot1 {
  margin-top: -260px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.goalText {
  margin-top: 6rem;
  margin-bottom: 7rem;
  @apply text-center;
}

@media (max-width: 639px) {
  .screenshot {
    width: 94vw;
  }
}

@media (max-width: 640px) {
  .goalText {
    margin-bottom: 2rem;
  }
}

.cta {
  background-image: url('@site/static/img/cta.png');
  width: 276px;
  height: 276px;
  background-size: cover;
}

.heroCTA {
  @apply z-30;
  position: absolute;
  animation: cta 0.5s linear forwards;
  animation-play-state: paused;
  /* Animation tracks the users scroll state using a property set on body */
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; 
}

.indexFooter {
  margin-top: -124px;
}

@media (max-width: 780px) {
  .heroCTA {
    animation: none;
    left: auto;
    top: calc(100% - 397px);
    right: calc(50% - 138px);
  }
}

@media (min-width: 780px) and (max-width: 900px) {
  .heroCTA {
    animation: none;
    top: 0px;
    right: 0px;
    width: 189px;
    height: 189px;
  }
}

@keyframes cta {
  0% {
    right: 0px;
    top: 30px;
    left: auto;
  }
  100% {
    left: auto;
    top: calc(100% - 397px);
    right: calc(50% - 138px);
  }
}
