/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headline {
  @apply xl:text-9xl sm:text-8xl text-7xl font-display font-bold; 
}

.content {
  @apply dark:bg-black dark:text-white relative;
  background-color: #FFF8F6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 730px;
  padding-bottom: 730px;
  gap: 124px;
  top: -30px;
}

.link {
  @apply text-lg;
  @apply font-bold;
  @apply font-body;
  @apply text-black;
}

.headerDivider {
  @apply text-lg;
  @apply font-display;
  @apply px-10;
  color: rgba(0, 0, 0, 0.3);
}

.screenshot {
  width: 80vw;
  height: auto;
  max-width: 1440px;
}

@media (max-width: 675px) {
  .screenshot {
    width: 98vw;
  }

  .screenshot1 {
    top: -150px;
  }
}

.screenshot1 {
  top: -260px;
  box-shadow: 0px 24px 44px 0px rgba(247, 142, 146, 0.25);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.cta {
  background-image: url('@site/static/img/cta.png');
  width: 276px;
  height: 276px;
  background-size: cover;
}

.heroCTA {
  @apply z-30;
  position: absolute;
  animation: cta 0.5s linear forwards;
  animation-play-state: paused;
  /* Animation tracks the users scroll state using a property set on body */
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; 

}

@media (max-width: 650px) {
  .heroCTA {
    animation: none;
    right: 0px;
    width: 189px;
    height: 189px;
  }
}

@media (min-width: 650px) and (max-width: 900px) {
  .heroCTA {
    animation: none;
    top: 30px;
    right: 10px;
  }
}

@keyframes cta {
  0% {
    right: 108px;
    top: 30px;
    left: auto;
  }
  /* Make this the absolute last keyframe to reduce jerkiness */
  99.999% {
    left: auto;
    top: 675px;
    right: 40%;
  }
  /* add additional keyframe to horziontally center while preserving smooth animation */
  100% {
    top: 675px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
