---
import Container from '../Container';
---

<div class='sticky z-10 overflow-hidden'>
	<nav class='border-b border-b-[#EAEAEA33] h-[65px]'>
		<Container>
			<div class='flex items-center justify-between'>
				<div id='search'></div>
				<div class='flex items-center gap'></div>
			</div>
		</Container>
	</nav>
</div>
