---
import Logo from '../../images/logoWithText.svg';
import { Image } from 'astro:assets';
import Home from '../../images/home.svg';
---

<nav class='border-r border-r-[#EAEAEA33] max-w-[280px] w-full'>
	<div class='h-screen relative'>
		<a href='/docs' class='flex items-center gap-2 sticky pt-8 px-8'>
			<Image src={Logo} alt='tembo logo' width={120} />
			<span
				class='bg-gradient-to-r from-salmon via-purple to-lightPurple inline-block text-transparent bg-clip-text'
				>Docs</span
			>
		</a>
		<div class='flex flex-col px-8 mt-[40px]'>
			<a
				href='/docs'
				class='font-secondary font-extrabold flex items-center gap-4'
			>
				<Image src={Home} alt='home' width={20} />
				Home
			</a>
		</div>
	</div>
</nav>
