---
interface Props {
	title: string;
	link: string;
}
const { title, link } = Astro.props;
import ArrowImage from '../images/whiteArrow.svg';
import { Image } from 'astro:assets';
---

<a
	href={link}
	target='_blank'
	rel='noreferrer'
	class='transition-all duration-150 ease-in z-10 w-full min-[500px]:w-max'
>
	<div
		class='flex items-center gap-6 border-2 border-lightPink rounded p-2 h-[60px] z-10'
	>
		<div
			class='bg-gradient-button p-3 rounded flex justify-center items-center z-10'
		>
			<Image
				src={ArrowImage}
				alt='Arrow'
				class='h-[15px] w-[15px]'
			/>
		</div>
		<p class='text-white font-semibold text-xl pr-6 whitespace-nowrap'>
			{title}
		</p>
	</div>
</a>
