---
import { Image } from 'astro:assets';
import ArrowRightButton from './ArrowRightButton';

interface Props {
	imgMetadata: ImageMetadata;
	link?: string;
	title: string;
	description: string;
}

const { imgMetadata, link, title, description } = Astro.props;
---

<div class='flex flex-col w-[230px]'>
	<Image
		src={imgMetadata}
		width={230}
		height={203}
		alt='pink elephant with pg analyze logo'
		class='mb-4'
	/>
	<div class='flex flex-row'>
		<div
			class='flex text-left text-white font-bold tracking-[0.47px] text-[20px]'
		>
			{title}
		</div>
	</div>
	<p class='text-lightGrey font-normal font-secondary text-sm'>
		{description}
	</p>
</div>
