---
import Container from './Container';
import Tag from './Tag.astro';
import type { CollectionEntry } from 'astro:content';
import { BlogPosts } from './BlogPosts';

interface Props {
	posts: CollectionEntry<'blog'>[];
}

const dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };
const images = import.meta.glob<{ default: ImageMetadata }>(
	'/src/content/blog/**/*.{jpeg,jpg,png,webp,svg,gif}',
);
const { posts } = Astro.props;

const resolvedPosts = await Promise.all(
	posts.map(async (post) => {
		const { remarkPluginFrontmatter } = await post.render();
		const dateString = post.id.substring(0, 10);
		const parsedDate = post.data?.date || new Date(dateString);
		const postDirectory = post.id.split('/')[0];
		const image = `/src/content/blog/${postDirectory}${post.data.image?.replace('.', '')}`;

		return {
			id: post.id as string,
			slug: post.slug as string,
			title: post.data.title,
			date: parsedDate.toLocaleDateString('en-US', dateOptions as any),
			author: post.data.authors[0],
			readingTime: remarkPluginFrontmatter.minutesRead,
			heroImage: image,
			body: post.body,
		};
	}),
);
---

<Container styles='pb-4'>
	<div class='mt-[120px] mobile:mt-[180px]'>
		<header>
			<h1 class='text-neon font-extrabold text-5xl lg:text-6xl z-10 mb-6'>
				Tembo's Blog
			</h1>
		</header>
		<BlogPosts posts={resolvedPosts} client:load>
			<Tag title='All' />
			<Tag title='Postgres' />
			<Tag title='Engineering' />
			<Tag title='Stacks' />
			<Tag title='Data' />
			<Tag title='Extensions' />
		</BlogPosts>
	</div>
</Container>
