---
import IconWithBackground from './IconWithBackground';
import DetailSequence from './DetailSequence';

interface Props {
	header: string;
	description: string;
	iconPath: string;
}

const { header, description, iconPath } = Astro.props;
---

<div class='flex flex-col gap-4 max-w-[530px]'>
	<IconWithBackground
		iconPath={iconPath}
		bgDimensionsClassName='w-14 h-14'
		iconDimensionsClassName='w-7 h-7'
	/>
	<DetailSequence header={header} text={description} />
</div>
