---
import Checkmark from '../images/checkmark.svg';
import Logo from '../images/logo.svg';
import { Image } from 'astro:assets';
import Status from './Status';
import { motion } from 'framer-motion';
import Copyright from './Copyright';
---

<footer class='bg-offBlack py-12 mobile:py-24 z-40'>
	<div class='flex flex-col mobile:flex-row gap-12 mobile:gap-32 lg:gap-56'>
		<div class='flex flex-col justify-between gap-4'>
			<a
				href='/'
				class='focus:outline-none transition hover:scale-[102%] duration-300 ease-in-out delay-70 z-40'
			>
				<Image src={Logo} alt='colorful elephant logo' width={40} />
			</a>
			<Status client:load />
		</div>
		<div class='w-full z-40'>
			<div class='flex gap-20 flex-wrap'>
				<div class='flex flex-col gap-6'>
					<h6 class='text-white font-semibold text-xl'>Company</h6>
					<div
						class='flex flex-col gap-2 font-medium text-grey font-secondary'
					>
						<a
							href='/docs'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Docs</a
						>
						<a
							href='/blog'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Blog</a
						>
						<a
							href='/pricing'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Pricing</a
						>
						<a
							href='https://cloud.tembo.io'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Tembo Cloud</a
						>
						<a
							href='https://roadmap.tembo.io/roadmap'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Roadmap</a
						>
						<a
							href='https://roadmap.tembo.io/changelog'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Changelog</a
						>
					</div>
				</div>
				<div class='flex flex-col gap-6'>
					<h6 class='text-white font-semibold text-xl'>Connect</h6>
					<div
						class='flex flex-col gap-2 font-medium text-grey font-secondary'
					>
						<a
							href='https://github.com/tembo-io/tembo'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Github</a
						>
						<a
							href='https://twitter.com/tembo_io'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Twitter</a
						>
						<a
							href='https://www.linkedin.com/company/tembo-inc'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>LinkedIn</a
						>
						<a
							href='https://www.youtube.com/@tembo_io'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Youtube</a
						>
						<a
							href='https://join.slack.com/t/tembocommunity/shared_invite/zt-277pu7chi-NHtvHWvLhHwyK0Y5Y6vTPw'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Community Slack</a
						>
						<a
							href='/contact'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Contact us</a
						>
					</div>
				</div>
				<div class='flex flex-col gap-6'>
					<h6 class='text-white font-semibold text-xl'>Resources</h6>
					<div
						class='flex flex-col gap-2 font-medium text-grey font-secondary'
					>
						<a
							href='mailto:careers@tembo.io'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
						>
							Careers
							<motion.span
								client:load
								className='bg-neon text-[10px] px-1.5 py-0.5 rounded-full text-black font-medium'
								animate={{
									scale: [1, 1.15, 1],
									rotate: [0, -3, 3, 0],
								}}
								transition={{
									duration: 1.5,
									repeat: Infinity,
									repeatType: 'loop' as const,
									ease: [0.23, 1, 0.32, 1],
								}}
							>
								hiring
							</motion.span>
						</a>
						<a
							href='https://status.tembo.io'
							target='_blank'
							rel='noreferrer'
							class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
							>Status</a
						>
						<!-- <a href='/university' target='_blank' rel='noreferrer'
							>Tembo University</a
							> -->
						<button
							id='intercom_launcher'
							class='p-0 m-0 w-min text-grey transition-colors duration-200 hover:text-white'
							aria-roledescription='Open chat support'
						>
							Support
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class='flex flex-col-reverse min-[470px]:flex-row min-[470px]:items-center justify-between mt-16 font-medium text-grey text-[13px] w-full'
	>
		<div
			class='flex flex-col min-[470px]:flex-row items-start lg:items-center justify-stretch gap-3 lg:gap-6'
		>
			<a
				href='https://cloud.tembo.io/privacy-policy'
				target='_blank'
				rel='noreferrer'
				class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
				>Privacy Policy</a
			>
			<a
				href='https://cloud.tembo.io/terms-of-service'
				target='_blank'
				rel='noreferrer'
				class='inline-flex items-center gap-2 text-grey transition-colors duration-200 hover:text-white'
				>Terms of Service</a
			>
			<Copyright />
		</div>
		<a
			href='/soc2.pdf'
			target='_blank'
			rel='noreferrer'
			class='inline-flex gap-2 font-secondary mb-2 min-[470px]:mb-0 bg-gradient-rainbow text-transparent bg-clip-text'
		>
			<Image src={Checkmark} alt='checkmark' width={14} height={16} />
			SOC2 Type 1 compliant
		</a>
	</div>
</footer>

<script>
	// @ts-nocheck
	const INTERCOM_APP_ID = 'lxripxeb';
	const bootIntercom = async () => {
		try {
			window.Intercom('boot', {
				api_base: 'https://api-iam.intercom.io',
				app_id: INTERCOM_APP_ID,
				custom_launcher_selector: '#intercom_launcher',
			});
		} catch (error) {}
	};

	(function () {
		var w = window;
		var ic = w.Intercom;
		if (typeof ic === 'function') {
			ic('reattach_activator');
			ic('update', w.intercomSettings);
		} else {
			var d = document;
			var i = function () {
				i.c(arguments);
			};
			i.q = [];
			i.c = function (args) {
				i.q.push(args);
			};
			w.Intercom = i;
			var l = function () {
				var s = d.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = 'https://widget.intercom.io/widget/' + INTERCOM_APP_ID;
				var x = d.getElementsByTagName('script')[0];
				x.parentNode.insertBefore(s, x);
			};
			if (document.readyState === 'complete') {
				l();
			} else if (w.attachEvent) {
				w.attachEvent('onload', l);
			} else {
				w.addEventListener('load', l, false);
			}
		}
	})();

	const footerButton = document.getElementById('intercom_launcher');

	footerButton.addEventListener('click', () => {
		bootIntercom();
	});
</script>
