---
import Container from '../components/Container';
---

<Container>
	<section
		class='tembo-for-startups-section flex w-full items-center justify-center mt-[120px] mobile:mt-[180px]'
	>
	</section>
</Container>
