---
import { Image } from 'astro:assets';
import CartesianGrid from '../images/cartesian-grid.svg';
import RagStackElephant from '../images/rag-stack-elephant.svg';
---

<div
	class='w-[300.86px] h-[334.53px] border-[0.72px] bg-mwasi border-[#FFFFFF0D] rounded-[34.38px] p-5 flex flex-col gap-8'
>
	<div
		class='w-full h-[184.63px] rounded-[28.65px] border-[0.72px] border-[#FFFFFF0D] cartesian-grid p-3'
	>
		<div
			class='border-dashed border-[#FFFFFF0D] border-[0.72px] rounded-[28.65px] relative'
		>
			<Image
				src={CartesianGrid}
				alt={'cartesian grid'}
				class='w-full h-full'
			/>
			<Image
				src={RagStackElephant}
				alt={'rag stack elephant'}
				class='absolute m-auto text-center left-0 right-0 top-6'
			/>
		</div>
	</div>
	<div class='flex flex-col gap-[7.31px]'>
		<h3 class='font-bold text-base leading-[17.19px]'>RAG Stack</h3>
		<p class='font-normal text-xs leading-[14.52px]'>
			Postgres tuned and configured for embedding vectors. Generate,
			store, and search vector embeddings with ease.
		</p>
	</div>
</div>

<!-- <style>
	.cartesian-grid {
		--c: 10;
		--cx: 5;
		--cy: 5;
		--dsize: 10;
		--dcolor: #369;
		--size: 100%;
		position: relative;
		width: var(--size);
		height: 0;
		padding-top: var(--size);
		box-sizing: border-box;
		aspect-ratio: 1/1;
		background-image: linear-gradient(
				#0000 calc(var(--cy) * 100% / var(--c) - 1px),
				#0008 0 calc(var(--cy) * 100% / var(--c) + 1px),
				transparent 0
			),
			linear-gradient(
				to right,
				#0000 calc(var(--cx) * 100% / var(--c) - 1px),
				#0008 0 calc(var(--cx) * 100% / var(--c) + 1px),
				transparent 0
			),
			repeating-linear-gradient(
				#0002 0 0.5px,
				#0000 0 calc(100% / var(--c) - 0.5px),
				#0002 0 calc(100% / var(--c))
			),
			repeating-linear-gradient(
				to right,
				#0002 0 0.5px,
				#0000 0 calc(100% / var(--c) - 0.5px),
				#0002 0 calc(100% / var(--c))
			);
	}
</style> -->
