---

---

<section
	class='tembo-for-startups-section flex flex-col w-full items-center justify-center mt-[120px] mobile:mt-[180px] justify-between'
>
	<div
		class='flex items-center justify-center text-neon font-light tracking-[0.47px] sm:text-[12px] md:text-[16px] lg:text-[20px] mb-6'
	>
		Testimonials
	</div>
	<div
		class='flex items-center justify-center text-white font-bold tracking-[0.47px] sm:text-[16px] md:text-[24px] lg:text-[32px] mb-6'
	>
		“Tembo makes Postgres easy for us.”
	</div>
	<div
		class='flex text-center text-white font-normal font-secondary tracking-[0.47px] sm:text-[6px] md:text-[10px] lg:text-[14px] mb-6'
	>
		”We don’t have to worry about spinning up or tuning it. We get stacks
		that just work out of the box, and we know they are going to be tuned
		without having to do a spike. We now use Tembo to manage a fleet of over
		20 production instances and a number of non-prod and development
		environments, and we’re excited to leverage Tembo for larger and larger
		workloads as our customers ask us for more specialized use cases. Tembo
		has become so fundamental to our platform that we don’t even think about
		alternatives anymore. When you’re not spending time thinking about your
		database, that’s how you know it’s a good solution.”
	</div>
</section>
