.footerWrapper {
  @apply bg-black flex flex-col;
  width: 100%;
  height: 875px;
  border-radius: 70px 70px 0px 0px;
  box-shadow: 0px 75px 50px 100px rgba(77, 47, 47, 0.27);
}

.footerWrapper::before {
  content: "";
  border-radius: 124px 124px 0px 0px;
  background: url("@site/static/img/elephant-left.png") bottom -1px left -440px/564px
      746px no-repeat,
    url("@site/static/img/elephant-right.png") bottom -1px right -440px/564px
      746px no-repeat,
    url("@site/static/img/footer-texture.png");
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

@media (min-width: 775px) {
  .footerWrapper {
    border-radius: 124px 124px 0px 0px;
  }

  .footerWrapper::before {
    content: "";
    background: url("@site/static/img/elephant-left.png") bottom -1px left -220px/564px
        746px no-repeat,
      url("@site/static/img/elephant-right.png") bottom -1px right -220px/564px
        746px no-repeat,
      url("@site/static/img/footer-texture.png");
  }
}

@media (min-width: 1000px) {
  .footerWrapper::before {
    content: "";
    background: url("@site/static/img/elephant-left.png") bottom -1px left -120px/564px
        746px no-repeat,
      url("@site/static/img/elephant-right.png") bottom -1px right -120px/564px
        746px no-repeat,
      url("@site/static/img/footer-texture.png");
  }
}

@media (min-width: 1350px) {
  .footerWrapper::before {
    content: "";
    background: url("@site/static/img/elephant-left.png") bottom -1px left -1px/564px
        746px no-repeat,
      url("@site/static/img/elephant-right.png") bottom -1px right -1px/564px
        746px no-repeat,
      url("@site/static/img/footer-texture.png");
  }
}

.joinCTA {
  background-image: url("@site/static/img/join-cta.png");
  background-size: contain;
  width: 210px;
  height: 77px;
  background-repeat: no-repeat;
}

.cta {
  @apply mx-auto absolute left-0 right-0;
  background-image: url("@site/static/img/cta.png");
  width: 240px;
  height: 240px;
  background-size: cover;
  top: -104px;
}

.cta:hover {
  background-image: url("@site/static/img/cta-hover.png");
}

.footerCallout {
  @apply text-center mx-auto pt-6 text-white font-display;
  width: 70%;
  max-width: 500px;
  font-size: 32px;
  line-height: 40px;
}

@media screen(sm) {
  .footerCallout {
    font-size: 39px;
    line-height: 50px;
  }
}

@media (max-width: 640px) {
  .footerLinks {
    max-width: 400px;
    align-self: center;
    justify-content: center !important;
  }

  .footerLinks .link,
  .footerLinks img {
    @apply mb-3;
  }
}

/* .footerLinks {
  @apply absolute bottom-10 text-white flex w-full justify-between content-margin pt-10 flex-wrap;
} */

.footerLinks .link {
  @apply px-6;
}

.footerLinks .link:hover {
  @apply text-white;
}
