---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
import Footer from '../components/Footer.astro';
import Callout from '../components/Callout.astro';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo for Startups'>
    <div class='main-content'>
		<NavBar client:load currentPage={currentPath} />
        <Container>
            <section
                class='tembo-for-startups-section mt-[120px] mobile:mt-[180px]
                tembo-blog-post-content max-[900px]:max-w-full prose prose-md 
                dark:prose-invert prose-p:text-lightGrey prose-li:text-lightGrey
                prose-headings:font-bold prose-headings:text-white
                prose-h1:text-4xl
                prose-a:bg-gradient-to-r prose-a:bg-[length:100%_1px] prose-a:bg-no-repeat 
                prose-a:bg-bottom prose-a:from-salmon prose-a:via-purple 
                prose-a:to-lightPurple prose-a:text-white
                prose-a:no-underline prose-img:rounded-xl prose-p:font-secondary
                prose-code:before:content-none prose-code:after:content-none 
                prose-inline-code:rounded-lg prose-inline-code:font-normal 
                prose-inline-code:text-white prose-inline-code:border
                prose-inline-code:border-[#505050] prose-inline-code:bg-[#3D3D3D]
                prose-inline-code:px-[4px] prose-inline-code:py-[4px] 
                prose-strong:text-white prose-td:text-white
                prose-li:font-secondary marker:text-[#505050]'
            >
                <h1
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Tembo for Startups</h1>

                <blockquote>
                    <p class='font-secondary font-normal text-base text-otherGrey opacity-80'>
                        "Growing my startup with the Postgres doesn't get any better, or more affordable, than this."
                        <br />- Startup CEO
                    </p>
                </blockquote>

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Program Overview</h2>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    <b>Tembo for Startups</b> provides Tembo Cloud as a rich Postgres-based data services foundation for high-potential early-stage startups. Through an extensive catalog of Tembo Stacks and open source extensions, Tembo aims to unlock the full power of Postgres to your developers.  
                </p>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    The program features heavy discounts for the first year, and ongoing discounts as you scale.
                </p> 

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >About Tembo</h2>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    As startups grow, they can find themselves spending thousands per month on 
                    a fast-growing sprawl of data vendors. Our aim is to help you fight back 
                    against this.
                </p>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    <b>Postgres</b> (and its assimilation of 25+ years of database innovation) 
                    is the perfect tool to battle this; It is open-source, extensible, flexible, 
                    and available from many vendors (therefore, somewhat lock-in resistant). 
                </p>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    However, most managed Postgres vendors provide a stripped-down version of 
                    Postgres that restricts developer creativity. Or a few specialized vendors 
                    provide a managed offering around a specific use case, but not a full 
                    spectrum of use cases.
                </p>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    Tembo is “multi-workload” Postgres and aims to integrate the <b>entire</b> 
                    Postgres OSS ecosystem, providing developers confidence to use Postgres however 
                    they like. It also packages and tunes Postgres for common use cases, as an 
                    open-source library of 
                    <a href="Thttps://tembo.io/docs/category/tembo-stacks">Tembo Stacks</a>.
                </p>


                <Callout title='Want to know more?' variant='info'>
                   <p>If you'd like to dig deeper into why we started the company and our vision,
                    read the <a href="https://tembo.io/blog/tembo-manifesto">Tembo Manifesto</a>.</p>
                </Callout>

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Qualifications</h2>

                <h3>Startups eligible for up to 50% off year one</h3>
                <ul>
                    <li>Raised funding up to $2 million</li>
                    <li>Associated with one of our approved VC, Incubator, or Accelerator partners</li>
                    <li>Get 25% off in the second year, and 15% off ongoing</li>
                </ul>

                <h3>Startups eligible for up to 25% off year one</h3>
                <ul>
                    <li>Raised funding over $2 million</li>
                    <li>Have not raised Series B or beyond</li>
                    <li>Associated with one of our approved partner organizations</li>
                    <li>Get 15% off ongoing</li>
                </ul>

                <h3>Startups eligible for up to 15% off ongoing</h3>
                <ul>
                    <li>Associated with one of our approved entrepreneurial organizations</li>
                </ul>

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Why join?</h2>

                <ul>
                    <li>
                        <b>Premium-level software —</b>
                        Tembo is a Postgres platform with all the tools you need for OLTP, 
                        Data Warehousing, OLAP, AI, ML, time series, message queue, and 
                        other database use cases.
                    </li>
                    <li>
                        <b>24/7 customer support —</b>
                        Between in-app support, community Slack, an extensive knowledge base, 
                        you’ll have everything you need to get up and running quickly. 
                        Tembo’s customer support team is always ready to help with all your 
                        technical questions.
                    </li>
                    <li>
                        <b>Hundreds of extensions, apps, and stacks —</b>
                        Tembo Cloud integrates the very best from the Postgres ecosystem, and 
                        provides a Tembo Stack for common Postgres use cases. Best of all, 
                        the Tembo Stack ecosystem is entirely open-source, so if we don’t 
                        have what you need, you can help get it added to the platform.
                    </li>
                </ul>

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Apply</h2>

                <ol>
                    <li>Signup for an account at <a href="https://cloud.tembo.io">Tembo Cloud</a>.</li>
                    <li>
                        Complete the <a href="https://forms.gle/bvuCa9Yws7UMLfRy6">startup application</a>
                        (if your partner is not listed, please direct them to the 
                        section below).
                    </li>
                </ol>

                <hr />

                <h2
                    class='text-white font-light text-[20.4px] min-[500px]:text-[25.5px] min-[600px]:text-[32px] customXs:text-[40px] customSm:text-[48px] z-20'
                >Become a Tembo Partner</h2>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    Become a Tembo Partner to unlock a substantial discount on our products for your member companies. 
                </p>

                <p class='font-secondary font-normal text-base text-otherGrey'>
                    Joining is a very quick process:
                </p>

                <ol>
                    <li>Complete the <a href="https://forms.gle/gLWRRnnfwdaKoqm98">partner application</a>. We'll process your application right away.</li>
                    <li>(optional) Email a high-resolution png of your logo to <a href="mailto:support@tembo.io">support@tembo.io</a>.</li>
                    <li>
                        (optional) Share this page to your members/portfolio with a message similar 
                        to the following:
                        <blockquote>
                            <p class='font-secondary font-normal text-base text-otherGrey opacity-80'>
                                Tembo has graciously offered our companies heavy discounts for the first year, and ongoing discounts as you scale.
                                <br /><br />
                                Tembo for Startups provides Tembo Cloud as a rich Postgres-based data services foundation for high-potential early-stage startups. Through an extensive catalog of Tembo Stacks and open source extensions, Tembo aims to unlock the full power of Postgres to your developers.  
                                <br /><br />
                                You can apply at <a href="https://tembo.io/for-startups">https://tembo.io/for-startups</a> and choose our organization in the drop down. 
                        </blockquote>
                    </li>
                </ol>

            
                
            </section>
			<div class='relative bg-offBlack z-10'>
				<div
					class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
				>
				</div>
				<Container styles='z-50'>
					<Footer />
				</Container>
			</div>
        </Container>
    </div>
</Layout>

<style>
    .tembo-for-startups-section {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 8em;
    }
    h2 {
        margin: 1em 0 .5em;
        font-size: 2em;
    }
    blockquote {
        background-color: #1c1c1c;
        padding: 1em;
        quotes: none;
    }
</style>
