---
import '../styles/globals.css';
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
const currentPath = Astro.url.pathname;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<div class="main-content">
		<NavBar currentPage={currentPath} />
		<Container>
			<section class='mt-[144px]'>
				<header class='text-center'>
					<h2 class='text-white font-light text-5xl'>Goodbye Database Sprawl,</h2>
					<h1 class='text-neon font-extrabold text-[112px]'>Hello Postgres.</h1>
				</header>
				<p class='text-red-500'>Hello Tembo!</p>
			</section>
		</Container>
	</div>
</Layout>

<style>
	.main-content {
		background-image: url('/Gradient.png');
		width: 100%;
		height: 100%;
		z-index: 1;
		background-repeat: no-repeat;
   		background-size: 100%;
	}
</style>
