---
import Test from '../components/Test';
import '@fontsource/bai-jamjuree/200.css';
import '@fontsource/bai-jamjuree/300.css';
import '@fontsource/bai-jamjuree/400.css';
import '@fontsource/bai-jamjuree/500.css';
import '@fontsource/bai-jamjuree/600.css';
import '@fontsource/bai-jamjuree/700.css';
import '../styles/globals.css';
---

<main>
	<Test />
</main>
