---
import '../styles/globals.css';
import Test from '../components/Test';
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import pkg from '@rapid-web/ui';
const { Container } = pkg;
---

<Layout title='Tembo: Goodbye Database Sprawl, Hello Postgres'>
	<main>
		<NavBar />
		<Container maxWidth='lg'>
			<Test />
		</Container>
	</main>
</Layout>

