---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
const currentPath = Astro.url.pathname;
---

<Layout title='Pricing - Tembo'>
	<NavBar currentPage={currentPath} />
	<Container>
		<section class='tembo-pricing-hero-section mt-[120px] mobile:mt-[180px]'>
			<p class='text-white'>Pricing page</p>
		</section>
	</Container>
</Layout>
