---
import NavBar from '../components/NavBar';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container';
const currentPath = Astro.url.pathname;
---

<Layout title="Product - Tembo">
	<NavBar currentPage={currentPath} />
	<Container>
		<p class='text-white'>Hello from product</p>
	</Container>
</Layout>

