---
import NavBar from '@components/NavBar';
import Layout from 'src/layouts/Layout.astro';
import Container from '@components/Container';
import Footer from '@components/Footer.astro';
import Button from '@components/Button';
import { Image } from 'astro:assets';
import BuildcampHeroImage from 'src/images/buildcamp-hero-image.png';
import ArrowRight from 'src/images/arrow-right-white.svg';
import BuildcampForm from '@components/BuildcampForm';
import Markdown from '@components/Markdown.astro';

const currentPath = Astro.url.pathname;
---

<Layout title='Tembo Buildcamp'>
	<NavBar client:load currentPage={currentPath} />
	<Container>
		<section
			class='flex flex-col lg:flex-row w-full items-center justify-center mt-[120px] mobile:mt-[180px] gap-6 md:gap-4 lg:gap-0'
		>
			<div class='flex flex-col w-full md:w-full lg:w-1/2'>
				<div
					class='text-neon font-bold tracking-[0.47px] text-[44px] lg:text-[60px] leading-tight mb-10 w-full text-center lg:text-left'
				>
					Tembo Buildcamp
				</div>
				<p
					class='text-white font-normal font-secondary text-md lg:text-xl mb-10 text-center lg:text-left w-full lg:w-3/4 leading-6'
				>
					From zero to use case in 5 days.
				</p>
				<div
					class='flex flex-row justify-center align-center lg:justify-start gap-4'
				>
					<Button
						variant='gradient'
						size='lg'
						client:load
						scrollTo={true}
						scrollToElement='buildcampForm'
					>
						<div class='flex flex-row gap-2 my-auto'>
							Schedule a Buildcamp
							<Image
								src={ArrowRight}
								width={16}
								height={16}
								alt='chevron arrow right'
							/>
						</div>
					</Button>
				</div>
			</div>
			<Image
				src={BuildcampHeroImage}
				width={600}
				height={500}
				alt='hero image'
			/>
		</section>
		<section
			class='tembo-for-startups-section flex flex-col w-full items-center justify-center my-[80px] px-5 lg:px-0'
		>
			<Markdown>
				<h2>What is Buildcamp?</h2>
				<h5>Unlocking the power of Postgres… together.</h5>
				<!-- <h2>Schedule a Tembo Buildcamp to:</h2> -->
				<p>
					A developer’s boot camp dream: Tembo Buildcamp provides
					personalized, hands-on training to master Tembo's advanced
					features and capabilities. From zero to use case in under
					five days, you'll be equipped to confidently put Postgres to
					work for your company. Let us take on your most ambitious
					projects with you. Together, we can unlock the full
					potential of Postgres for your business.
				</p>
				<h5>
					A week-long intensive working session and immediate
					problem-solving.
				</h5>
				<p>
					Sick of being talked at and demo-ed to? Get ready to roll up
					your sleeves and dive into the use case you’ve been dreaming
					of building. We will save you from the pain of your most
					immediate data management issues by using Postgres in
					innovative ways. Hang out with the Tembo team for a three to
					five-day sprint and transform your vision into co-authored
					code. We’ll begin iterating on your project within the first
					hour of the initial working session. Wouldn’t it be nice to
					solve your business problems with dramatic acceleration from
					our experts?
				</p>

				<h5>The support doesn’t stop after the week is over.</h5>
				<p>
					Join our community of like-minded professionals and get
					support even after your Buildcamp experience ends. We care
					about your use case as much as you do, and we’re with you
					for the long haul with world-class customer support and a
					thriving community of Tembo users.
				</p>
				<!-- <ul>
					<li>
						<b class='text-white'>Leverage Postgres:</b>
						Leverage the full power of Postgres in your most important
						projects.
					</li>
					<li>
						<b class='text-white'>Develop and Refine Use Cases:</b> Create
						and enhance initial use cases tailored to your business needs.
					</li>
					<li>
						<b class='text-white'
							>Onboard Devs to Open-Source Best Practices:</b
						> Level-up your team for operational success.
					</li>
				</ul> -->
				<hr />
				<!-- <p>
					Unlock the full potential of Postgres with Tembo Buildcamp,
					tailored to address your company's specific challenges. Our
					buildcamp provides personalized, hands-on training to master
					Tembo’s advanced features and capabilities. From zero to use
					case in five days, you'll be equipped to confidently put
					Postgres to work for your company.
				</p> -->
				<h2>Who is Buildcamp for?</h2>
				<h5>
					Want a durable, working application? A viable proof of
					concept to showcase your leadership? Have a project that’s
					collecting dust on your desk?
				</h5>
				<p>
					Our accelerated working sessions are designed for all sizes.
					Whether you’re a big corporation, midsize business, or
					startup, we are here to build with you. We want to
					collaborate with engineers and technical leaders from your
					company who appreciate the power and endless possibilities
					in the world of Postgres.
				</p>
				<hr />

				<hr />
				<h2>Why Choose Tembo?</h2>
				<ul>
					<li>
						<b class='text-white'>Expert Collaborators:</b>
						Learn from industry experts with many years of experience
						in Postgres.
					</li>
					<li>
						<b class='text-white'>Customized Agenda:</b>
						We tailor the buildcamp to meet your specific needs and goals.
					</li>
					<li>
						<b class='text-white'>Ongoing Support:</b> Join our community
						of like-minded professionals and get support even after the
						buildcamp ends.
					</li>
				</ul>
			</Markdown>
		</section>
		<section
			class='tembo-for-startups-section flex items-center w-full justify-center'
		>
			for sample Schedule
		</section>
		<section
			class='tembo-for-startups-section flex items-center w-full justify-center'
		>
			for meet our team
		</section>
		<section
			class='tembo-for-startups-section flex flex-col w-full items-center justify-center my-[80px] px-5 lg:px-0'
		>
			<Markdown>
				<h2>Buildcamp Costs</h2>
				<b class='text-white'>Priority</b>
				<ul>
					<li>
						Skip the line: get your first choice of dates and
						location
					</li>
					<li>$10,000 fixed up-front cost</li>
					<li>Receive $15,000 worth of Tembo Usage Credits</li>
				</ul>
				<b class='text-white'>Standard</b>
				<ul>
					<li>Subject to availability</li>
					<li>
						No fee (other than your team’s travel expenses, if
						applicable)
					</li>
					<li>Receive $10,000 in Tembo credits</li>
				</ul>
			</Markdown>
		</section>
		<section class='flex flex-col w-full items-center justify-center'>
			<BuildcampForm client:load />
		</section>
	</Container>
	<div class='relative'>
		<div
			class='absolute top-0 flex h-[1px] w-full flex-row items-center justify-center opacity-100 shine'
		>
		</div>
		<Container>
			<div class='mt-16 mobile:mt-24'>
				<Footer />
			</div>
		</Container>
	</div>
</Layout>
