.solarSystem { 
  position: relative;
  height: calc(482px + 260px);
  margin-left: -3em;
  margin-right: -3em;

  @media (max-width: 900px) {
    margin-top: 44px;
  }

  @media (max-width: 500px) {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.planet {
  position: absolute;
  width: 316px;
  height: 316px;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(905px - 580px);
  border-radius: 100%;
  background: linear-gradient(360deg, #FFF8F6 -13.61%, #FFF8F6 50.26%, #272727 50.55%, #272727 100%);
}
