---
import { Image } from 'astro:assets';
import ArrowRightWhiteIcon from '../../images/arrow-right-white.svg';

interface Props {
	startHref: string;
	breadcrumbStart: string;
	breadcrumbEnd: string;
}

const { startHref, breadcrumbStart, breadcrumbEnd } = Astro.props;
---

<div class='flex items-center gap-x-4'>
	<a class='text-white font-semibold text-sm leading-6' href={startHref}>
		{breadcrumbStart}
	</a>
	<Image
		src={ArrowRightWhiteIcon}
		alt='arrow right'
		width={16}
		height={16}
		class='move-right-icon'
	/>
	<span
		class='bg-charcoal text-white font-medium leading-6 text-sm rounded-full py-1 px-3'
	>
		{breadcrumbEnd}
	</span>
</div>
