---
import Layout from './Layout.astro';
import SideBar from '../components/docs/SideBar.astro';
import Header from '../components/docs/Header.astro';
import Rainbow from '../components/Rainbow.astro';
import type { SideBarSection } from '../types';
interface Props {
	title?: string;
	sideBarMenuSections: SideBarSection[];
}
const { title = 'Docs | Tembo', sideBarMenuSections }: Props = Astro.props;
---

<Layout title={title}>
	<div class='fixed top-0 right-0 left-0 z-50'>
		<Rainbow />
	</div>
	<div class='h-screen flex flex-col'>
		<main class='grow overflow-hidden'>
			<div class='flex h-full'>
				<SideBar sideBarMenuSections={sideBarMenuSections} />
				<div class='docs-content w-full overflow-auto'>
					<div class='flex flex-col relative'>
						<Header />
						<div class='container px-8 max-w-container mx-auto'>
							<div class='pt-[60px] grow'>
								<slot />
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout>
