---
import Layout from './Layout.astro';
import SideBar from '../components/docs/SideBar.astro';
import Header from '../components/docs/Header';
import Rainbow from '../components/Rainbow.astro';
import type { SideBarSection } from '../types';
interface Props {
	title?: string;
	sideBarMenuSections: SideBarSection[];
	isNestedDoc: boolean;
}
const {
	title = 'Docs | Tembo',
	sideBarMenuSections,
	isNestedDoc,
}: Props = Astro.props;
---

<Layout title={title}>
	<div class='fixed top-0 right-0 left-0 z-50'>
		<Rainbow />
	</div>
	<div class='h-screen flex flex-col'>
		<main class='grow overflow-hidden'>
			<div class='flex h-full'>
				<SideBar
					isNestedSideBar={isNestedDoc}
					sideBarMenuSections={sideBarMenuSections}
				/>
				<div
					class='w-full overflow-auto scroll-pt-[120px]'
					id='docs-content'
				>
					<div class='flex flex-col relative'>
						<Header client:load />
						<div class='container px-8 max-w-container mx-auto'>
							<div class='pt-[60px] grow pb-8'>
								<slot />
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout>
../components/docs/Header.tsx
