---
import Layout from './Layout.astro';
import SideBar from '../components/docs/SideBar.astro';
import Header from '../components/docs/Header.astro';
import Container from '../components/Container';
import Rainbow from '../components/Rainbow.astro';
import Markdown from '../components/Markdown.astro';
interface Props {
	title?: string;
}
const { title = 'Docs | Tembo' }: Props = Astro.props;
---

<Layout title={title}>
	<div class='fixed top-0 right-0 left-0 z-50'>
		<Rainbow />
	</div>
	<div class='h-screen flex flex-col'>
		<main class='grow overflow-hidden'>
			<div class='flex h-full'>
				<SideBar />
				<div class='docs-content w-full overflow-auto'>
					<div class='flex flex-col relative'>
						<Header />
						<div
							class='container px-[20px] min-[1150px]:px-[95px] max-w-container mx-auto'
						>
							<div class='pt-[20px] min-[1150px]:pt-[95px] grow'>
								<slot />
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</Layout>
