---

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 200;
		src: local('Bai Jamjuree ExtraLight'), local('BaiJamjuree-ExtraLight'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-200-normal.woff') format('truetype');
	}

	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 300;
		src: local('Bai Jamjuree Light'), local('BaiJamjuree-Light'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-300-normal.woff') format('truetype');
	}

	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 400;
		src: local('Bai Jamjuree Regular'), local('BaiJamjuree-Regular'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-400-normal.woff') format('truetype');
	}

	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 500;
		src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-500-normal.woff') format('truetype');
	}

	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 600;
		src: local('Bai Jamjuree SemiBold'), local('BaiJamjuree-SemiBold'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-600-normal.woff') format('truetype');
	}

	@font-face {
		font-family: 'Bai Jamjuree';
		font-style: normal;
		font-weight: 700;
		src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'), url('/fonts/bai-jamjuree/bai-jamjuree-latin-700-normal.woff') format('truetype');
	}
	body {
  		font-family: 'Bai Jamjuree';
	}
</style>
